body{
  background: linear-gradient(rgba(77, 91, 131, 0.97), rgba(77, 91, 131, 0.97)), url("https://img.freepik.com/free-vector/vector-background-seamless-retro-film_2065-725.jpg?t=st=1720634229~exp=1720637829~hmac=d6babc704ec518d7612952ced10be337e823a3441461d251a5c8783778a51ace&w=740");
  height:100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.review{
  background-image: url('https://i.imgur.com/3vLynbd.png');
  background-size: cover;
  height:100px;
  width:100px;
}

.review:hover {
    background-image: url('https://i.ibb.co/7GCspQD/cb1-2.png');
}

.container-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 95%;
  align-items: stretch;
  justify-content: space-evenly;
}

.poster{
  min-width: 13vw;
  max-width: 13vw;
  max-height: 40vh;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgb(0 0 0);
  border-radius: 10px;
  margin:10px;

}